<mat-card>
    <form class="default-form" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <mat-card-header>
            <mat-card-title id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
                Create or edit a User
            </mat-card-title>
        </mat-card-header>
        <div *ngIf="user">
            <jhi-alert-error></jhi-alert-error>

            <mat-form-field *ngIf="user.id" class="full-width">
                <input matInput placeholder="{{'global.field.id'| translate}}" name="id" formControlName="id" readonly>
            </mat-form-field>
            <br/>

            <mat-form-field class="full-width">
                <input matInput name="login" formControlName="login" placeholder="{{'userManagement.login'| translate}}">

                <mat-error *ngIf="editForm.get('login')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </mat-error>

                <mat-error *ngIf="editForm.get('login')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                       [translateValues]="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </mat-error>

                <mat-error *ngIf="editForm.get('login')?.errors?.pattern" jhiTranslate="entity.validation.patternLogin">
                    This field can only contain letters, digits and e-mail addresses.
                </mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field class="full-width">
                <input type="text" name="firstName" formControlName="firstName" matInput placeholder="{{'userManagement.firstName'| translate}}">

                <mat-error *ngIf="editForm.get('firstName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                       [translateValues]="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field class="full-width">
                <input type="text" name="lastName" formControlName="lastName" matInput placeholder="{{'userManagement.lastName'| translate}}">

                <mat-error *ngIf="editForm.get('lastName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                       [translateValues]="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field class="full-width">
                <input type="email" name="email" formControlName="email" matInput placeholder="{{'userManagement.email'| translate}}">

                <mat-error *ngIf="editForm.get('email')?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </mat-error>

                <mat-error *ngIf="editForm.get('email')?.errors?.maxlength"
                       jhiTranslate="entity.validation.maxlength"
                       [translateValues]="{ max: 100 }">
                    This field cannot be longer than 100 characters.
                </mat-error>

                <mat-error *ngIf="editForm.get('email')?.errors?.minlength"
                       jhiTranslate="entity.validation.minlength"
                       [translateValues]="{ min: 5 }">
                    This field is required to be at least 5 characters.
                </mat-error>

                <mat-error *ngIf="editForm.get('email')?.errors?.email"
                       jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </mat-error>
            </mat-form-field>
            <br/>

            <mat-checkbox [attr.disabled]="user.id === undefined ? 'disabled' : null" id="activated" name="activated" formControlName="activated">
                {{'userManagement.activated'| translate}}
            </mat-checkbox>
            <br/>

            <mat-form-field class="full-width" *ngIf="languages && languages.length > 0">
                <mat-label jhiTranslate="userManagement.langKey">Lang Key</mat-label>
                <mat-select id="langKey" name="langKey" formControlName="langKey">
                    <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
                <mat-select multiple name="authority" formControlName="authorities">
                    <mat-option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="user" align="end">
            <button mat-raised-button type="button" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button mat-raised-button type="submit" [disabled]="editForm.invalid || isSaving">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</mat-card>
