<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <jhi-navbar></jhi-navbar>
<!--    <router-outlet name="navbar"></router-outlet>-->
</div>

<div class="container-fluid">
    <div class="card jh-card">
        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snavpanel mode="side"
                         fixedInViewport="false" fixedTopGap="56">
                <mat-nav-list>
                    <a mat-list-item routerLink="." >Test1</a>
                    <a mat-list-item routerLink="." >Test2</a>
                    <a mat-list-item routerLink="." >Test3</a>
                    <a mat-list-item routerLink="." >Test4</a>
                    <a mat-list-item routerLink="." >Test5</a>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    <jhi-footer>Здесь будет футер</jhi-footer>
</div>

<!--
<div class="container-fluid">
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav mode="side"
                     fixedInViewport="false" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="." >Test1</a>
                <a mat-list-item routerLink="." >Test2</a>
                <a mat-list-item routerLink="." >Test3</a>
                <a mat-list-item routerLink="." >Test4</a>
                <a mat-list-item routerLink="." >Test5</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="card jh-card">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <jhi-footer></jhi-footer>
</div>
-->

