.center-content {
  text-align: center;
}
mat-form-field {
  width: 30vw;
  height: 60px;
}

.example-card {
  max-width: 50vw;
}

.main-div {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
