<!--<nav class="navbar navbar-light navbar-expand-md bg-light">-->
<mat-toolbar color="primary" class="navbar navbar-dark navbar-expand-md">
    <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>

    <span>  </span>
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
<!--        <span class="logo-img"></span>-->
        <span jhiTranslate="global.title" class="navbar-title">EltraGateway</span> <span class="navbar-version">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <div class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a mat-button class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <div *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a mat-button class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" [matMenuTriggerFor]="menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item class="dropdown-item" routerLink="weather" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.entities.weathersampleWeather">Weather</span>
                    </a>
                </mat-menu>
            </div>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a mat-button class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" [matMenuTriggerFor]="menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item class="dropdown-item" routerLink="admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="road" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="user" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="eye" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.health">Health</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="list" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.audits">Audits</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.logs">Logs</span>
                    </a>
                    <a mat-menu-item class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()" *ngIf="swaggerEnabled">
                        <fa-icon icon="book" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.admin.apidocs">API</span>
                    </a>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </mat-menu>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a mat-button class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" [matMenuTriggerFor]="menu">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <mat-menu #menu="matMenu">
                    <div *ngFor="let language of languages">
                        <a mat-button class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
                    </div>
                </mat-menu>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a mat-button class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" [matMenuTriggerFor]="menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <mat-menu #menu="matMenu">
                    <a mat-button class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" *ngSwitchCase="true">
                        <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.settings">Settings</span>
                    </a>
                    <a mat-button class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" *ngSwitchCase="true">
                        <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.password">Password</span>
                    </a>
                    <a mat-button class="dropdown-item" (click)="logout()" id="logout" *ngSwitchCase="true">
                        <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.logout">Sign out</span>
                    </a>
                    <a mat-button class="dropdown-item" (click)="login()" id="login" *ngSwitchCase="false">
                        <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </a>
                    <a mat-button class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" *ngSwitchCase="false">
                        <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.register">Register</span>
                    </a>
                </mat-menu>
            </li>
        </div>
    </div>

</mat-toolbar>
<!--</nav>-->
